@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Josefin Slab";
}

:hover.custom_hover {
  color: white;
  background-color: #0d7c79;
}

*:focus {
  outline: 2px solid #0d7c79;
  border-radius: 3px;
}

.styling:hover {
  background-color: rgb(8 47 73);
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-color: #93c5fd;
}
